* {
  box-sizing: border-box;
}
h1{
    color: rgb(0,138, 230);
    text-align: center;
    font-size: 40px;
    font-family: poppins, sans-serif;
    margin: auto;
}
body{
    background-color: rgb(2, 2, 39);
}

@media (max-width: 768px) {

    h1{
        font-size: 38px;
        text-align: center;
    }

    .search-form{
        width: 90%;
        max-width: 400px;
        margin: auto;
    }

    .current-weather-container{
        width: 95%;
        padding: 20px;
        margin: 20px auto;
    }

    .city-container{
        flex-direction: column;
        gap: 20px;
    }

    .weather-icon{
        width: 150px;
        height: 150px;
    }

    .CityWeather h2{
        font-size: 32px;
    }

    .CityWeather p{
        font-size: 18px;
        text-align: center;
    }

    .weather-details{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
}

@media (max-width: 480px){

    h1{
        font-size: 30px;
        text-align: center;
    }

    .search-form{
        width: 95%;
    }

    .search-input,
    .search-button{
        width: 100%;
    }

    .current-weather-container{
        width: 95%;
        padding: 15px;
    }

    .city-container{
        flex-direction: column;
        gap: 15px;
    }

    .weather-icon{
        width: 120px;
        height: 120px;
    }

    .CityWeather h2{
        font-size: 28px;
    }

    .CityWeather strong,
    .CityWeather p{
        font-size: 16px;
        text-align: center;
    }

    .weatherupdate p,
    .weatherupdate strong{
        font-size: 16px;
        text-align: center;
    }

    .weather-details{
        grid-template-columns:1fr;
        gap:20px;
    }

    .circularprogress{
        width:90px;
        height:90px;
    }
}