.search-form {
    background: rgba(20, 20, 20, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-input{
    padding: 10px 20px;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 12px;
    max-width: 350px;
    width: 100%;
    outline: none;
    background-color: white;
    color: rgb(66, 66, 66);
    font-family: poppins, sans-serif;
    font-size: 16px;
}
.search-input::placeholder{
    color: rgb(66, 66, 66);
    font-family: poppins, sans-serif;
}
.search-button{
    max-width: 350px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 12px;
    background-color: rgb(0, 138, 230);
    color: white;
    font-family: poppins, sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.search-button:hover{
    background-color: transparent;
    color: rgb(0, 138, 230);
    border-color: white;
}
.error-message{
    font-family: poppins, sans-serif;
    color: red;
    font-size: 16px;
    margin-top: 15px;
}